<!DOCTYPE html>
<html>

<body>
    CREATE
    <form action="/api/v1/student/" method="POST">
        <input type="input" name="name" placeholder="name" />
        <input type="input" name="email" placeholder="email" />
        <input type="input" name="age" placeholder="age" />
        <input type="input" name="dob" placeholder="dob" />
        <button type="submit">SUBMIT</button>
    </form>
    <br />
    DELETE GDYBY TYLKO ISTNIALO W CZYSTYM HTMLU (NIE DZIALA)
    <form action="/api/v1/student/" method="delete">
        <input type="input" name="id" placeholder="id" />
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>